<!DOCTYPE html>
<html>
<title>Writingprompt</title>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .no-italics {
    font-style: normal !important;
    font-family: "Lato", sans-serif;
  }
</style>

<body>
  <!-- Page content -->
  {%load vivian_commands%}
  <!--button -->
  <div class="w3-center w3-padding-16">
    <form action="/vivian/" method="post">
      {% csrf_token %} {{ form }}
      <input class="w3-hover-opacity" type="image" value="Submit" width="20" height="20" src="https://image.flaticon.com/icons/svg/24/24143.svg" />
    </form>
  </div>
  <div class="w3-content" style="max-width:2000px;margin-top:46px">
    {% for key in question %}
    <!-- The Band Section -->
    <div class="w3-container w3-content  w3-padding-64" style="max-width:800px" id="band">
      <h3 class="w3-wide w3-center">{{key.title}}</h3>
      <p class="w3-opacity w3-center no-italics"><i>{{key.score}}</p>
    <div class="no-italics w3-justify" >
      {% autoescape off %}
      {{key.comment|markdown}}
      {% endautoescape %}
  </div>
  <hr align="left" width="100%">
  <hr align="left" width="100%">
    <div class="w3-row w3-padding-16">
      <div class="w3-third">
        <p>{{key.pub_date}}</p>
         <a href={{key.url}}>url</a>
      </div>
    </div>
  </div>
  {%endfor%}


</body>
</html>
