<!DOCTYPE html>
<html>
<title>Writingprompt</title>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .no-italics {
    font-style: normal !important;
    font-family: "Lato", sans-serif;
  }
</style>

<body>
  <!-- Page content -->
  {%load vivian_commands%}
  <!--button -->
  <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
      <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
        Sort <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="#" class="w3-bar-item w3-button">Date</a>
        <a href="#" class="w3-bar-item w3-button">Score</a>
      </div>
    </div>
  </nav>
    {% for key in question %}
    <!-- The Band Section -->
    <div class="w3-container w3-content  w3-padding-64" style="max-width:800px" id="band">
      <h3 class="w3-wide w3-center">{{key.title}}</h3>
      <p class="w3-opacity w3-center no-italics"><i>{{key.score}}</p>
    <div class="no-italics w3-justify" >
      {% autoescape off %}
      {{key.comment|markdown}}
      {% endautoescape %}
  </div>
  <hr align="left" width="100%">
  <hr align="left" width="100%">
    <div class="w3-row w3-padding-16">
      <div class="w3-third">
        <p>{{key.pub_date}}</p>
         <a href={{key.url}}>url</a>
      </div>
    </div>
  </div>
  {%endfor%}

  <div class="pagination">
    <span class="step-links">
        {% if question.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ question.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ question.number }} of {{ question.paginator.num_pages }}.
        </span>

        {% if question.has_next %}
            <a href="?page={{ question.next_page_number }}">next</a>
            <a href="?page={{ question.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>
// Accordion
function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}


// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
</body>
</html>
